:host {
  --logo: 300px;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-around;
  width: var(--logo);
  height: calc(var(--logo) * 2 / 3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--logo) calc(var(--logo) * 2 / 3);
  color: white;
  margin: 2vh 1vw;
  border-radius: 5px;
}
.card__logo {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: rgba(0, 0, 0, 0.01);
}
.card__name {
  align-self: flex-end;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 5px 20px;
  background-color: rgba(0, 0, 0, 0.01);
}
.card__chip {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: grey;
}
.card__contactless-payment {
  align-self: flex-end;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 5px 20px;
  background-color: rgba(0, 0, 0, 0.01);
}

.card__number {
  align-self: center;
  letter-spacing: 0.3rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.01);
}
.card__expiry-date::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-80%);
  content: "MONTH/YEAR";
  font-size: 0.5rem;
}
.card__expiry-date {
  position: relative;
  align-self: center;
  margin-block-end: 0em;
  background-color: rgba(0, 0, 0, 0.01);
}
.card__expiry-date::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  content: "VALID THRU";
  font-size: 0.5rem;
}
.expiry-date__span {
  font-size: 0.5rem;
}
.card__holder-details {
  align-self: flex-start;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 5px 20px;
  background-color: rgba(0, 0, 0, 0.01);
}
.card__organization-payment-logo {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: rgba(0, 0, 0, 0.01);
}
@media (min-width: 1024px) {
  :host {
    --logo: 400px;
  }
}
