<div class="contact-list">
  <h1 class="contact-list__h1">Contact List</h1>
  <p class="contact-list__p"><a class="contact-list__a" [routerLink]="['/recipients','add']">add new contact</a></p>
  <ul class="list">
    <li class="list__li" *ngFor="let recipient of recipientsList;index as i">
      <p class="list__name" id={{i}}>{{recipient.name}} {{recipient.surname}}
      </p>
      <!-- <p class="list__name" (click)="activeRecipient($event)" id={{i}}>{{recipient.name}} {{recipient.surname}}
      </p> -->
      <p class="list__accountNumber">{{recipient.accountNumber}}</p>
      <div class="list__div" [ngClass]="recipient.status?'list__div--active':''">
        <p>{{recipient.email}}</p>
        <p>{{recipient.phoneNumber}}</p>
        <p>{{recipient.address}}</p>
        <p>{{recipient.city}}</p>
        <p>{{recipient.country}}</p>
      </div>
    </li>
  </ul>
</div>
