p {
  margin: 2px 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.add-contact {
  display: grid;
  position: relative;
  gap: 10px;
  justify-items: center;
  width: 90%;
  margin: 2vh auto;
  padding: 1vh 0;
  background-color: white;
}
.add-contact__span {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.add-contact__label {
  /* width: 100%; */
}
.add-contact__input {
  margin: 1px 0;
  padding: 5px 10px;
}
.add-contact__error {
  font-size: 0.55rem;
  color: red;
}
.add-contact__button {
  width: 193px;
  height: 29px;
  margin: 1vh 0;
  color: white;
  background-color: #036672;
  border: 2px solid #036672;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 640px) {
  .add-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .add-contact__input {
  }
  .add-contact__button {
    grid-column: 1/3;
    box-sizing: border-box;
    align-self: center;
    margin: unset;
  }
}

@media (min-width: 1024px) {
  .add-contact {
    gap: 20px;
  }
}
@media (min-width: 1400px) {
  .add-contact {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .add-contact__button {
    grid-column: unset;
    align-self: end;
  }
}
