.recent-activity__h4 {
  text-align: center;
}
.lab {
  width: 100%;
  text-align: center;
  padding: 2vh 0 2vh 0;
}
.label {
  padding-top: 2vh;
}
.label__img {
  transform: translateY(20%);
}
.label__input {
  padding: 0.5vh 0;
  margin-left: 1vw;
  border: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(165, 165, 165);
  background-color: #f1f5f9;
  text-align: center;
}
.recent-activity__table {
  font-size: 0.8rem;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 99%;
}
.recent-activity__th {
  font-size: 0.7rem;
}
.recent-activity__tr:nth-child(1) {
  margin-bottom: 1vh;
  background-color: #fbfdfe;
}
.recent-activity__tr {
  margin-bottom: 1vh;
  background-color: white;
  border-bottom: 1px solid #f1f5f9;
}
.recent-activity__tr:nth-last-child(1) {
  border-bottom: unset;
}
th,
td {
  width: 6em;
  padding: 2px;
}
tr th:first-child,
tr td:first-child {
  width: 10em;
}
.recent-activity__th:nth-child(1) {
  padding: 1vh 0;
}
.recent-activity__th {
  color: rgb(134, 134, 134);
  font-weight: normal;
  cursor: pointer;
}
.recent-activity__div {
  display: inline-block;
}
.recent-activity__span {
  font-size: 10px;
  fill: rgb(134, 134, 134);
}
.recent-activity__span--color {
  color: black;
}
.recent-activity__span--active-color {
  color: black;
  transform: rotate(180deg);
}
.recent-activity__td:nth-child(1) {
  padding-left: 1vw;
  color: rgb(134, 134, 134);
}
.recent-activity__td:nth-child(2) span {
  color: rgb(134, 134, 134);
}
.recent-activity__td:nth-child(4) {
  padding-right: 1vw;
}
.recent-activity__p:hover {
  cursor: pointer;
}
.recent-activity__p--yellow {
  background-color: rgba(234, 243, 106, 0.5);
  box-shadow: 0px 0px 10px 2px rgb(234, 243, 106);
  color: #036672;
}
.recent-activity__p--green {
  background-color: rgba(154, 248, 125, 0.753);
  box-shadow: 0px 0px 10px 2px rgb(154, 248, 125);
  color: #036672;
}
.recent-activity__p--red {
  background-color: rgba(255, 107, 88, 0.753);
  box-shadow: 0px 0px 10px 2px rgb(255, 107, 88);
  color: #036672;
}
.recent-activity__td:nth-child(4) {
  color: rgb(134, 134, 134);
}
@media (min-width: 500px) {
  .recent-activity__th {
    font-size: 0.8rem;
  }
  .recent-activity__span {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .recent-activity__table {
    width: 90%;
    font-size: 1rem;
  }
  .recent-activity__th {
    font-size: 1rem;
  }
  .recent-activity__span {
    font-size: 20px;
  }
}
