.menu {
}

.menu__ul {
  display: flex;
  height: 70vh;
  flex-direction: column;
  padding-inline-start: 0;
  justify-content: space-between;
}
.menu__li {
  list-style-type: none;
  padding-top: 10px;
  width: 100px;
  margin: 0 auto;
}

.menu__a {
  color: white;
  text-decoration: none;
}
.menu__icon {
  transform: translateY(20%);
  padding-right: 5px;
}
