<h4 class="overview__title title" (click)="clickedTitle()">Overview <img [ngClass]="status ? 'title__img--active' : ''"
    class="title__img" src="assets/images/rectangle.png" alt="">
</h4>
<div class="overview" [ngClass]="status ? 'card--hide' : ''">
  <div class="overview__block">
    <div class="overview__account card">
      <div class="card__div">
        <img class="card__img" src="./../../assets/images/overview/accountBalance.png">
        <div class="card__information information">
          <p class="card__title">Account Balance</p>
          <p class="card__money">{{accountBalance| currency}}</p>
        </div>
      </div>
      <a class="card__a" href="#">Viev all</a>
    </div>
    <div class="overview__pending card">
      <div class="card__div">
        <img class="card__img" src="./../../assets/images/overview/pending.png">
        <div class="card__information information">
          <p class="card__title">Account Balance</p>
          <p class="card__money">{{pending| currency}}</p>
        </div>
      </div>
      <a class="card__a" href="#">Viev all</a>
    </div>
    <div class="overview__processed card">
      <div class="card__div">
        <img class="card__img" src="./../../assets/images/overview/processed.png">
        <div class="card__information information">
          <p class="card__title">Account Balance</p>
          <p class="card__money">{{processed| currency}}</p>
        </div>
      </div>
      <a class="card__a" href="">Viev all</a>
    </div>
  </div>
</div>
