.overview {
  font-size: 0.9rem;
  overflow: hidden;
}
.overview__title {
  margin-block-start: 0.7em;
  margin-block-end: 0;
  text-align: center;
}
.title__img {
  width: 10px;
  height: 10px;
}
.title__img--active {
  transform: rotate(180deg);
}
.card {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: white;
  padding: 0 15vw 1vh 15vw;
  margin: 1vh 0;
  border-radius: 5px;
}
.overview__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card--hide {
  visibility: hidden;
  max-height: 0;
  transition: 1.5s;
}
.card__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card__img {
  width: 22px;
  height: 22px;
}
.card__money {
  font-weight: bold;
}
.card__a {
  color: #036672;
  text-decoration: none;
}
