.overview {
  font-size: 0.9rem;
  overflow: hidden;
}
.overview__title {
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  text-align: center;
  cursor: pointer;
}
.title__img {
  width: 10px;
  height: 10px;
}
.title__img--active {
  transform: rotate(180deg);
}
.card {
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: white;
  /* margin: 0 15vw 1vh 15vw; */
  /* padding: 1vh 15vw; */
  margin: 1vh 0;
  border-radius: 5px;
}
.overview__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card--hide {
  visibility: hidden;
  max-height: 0;
  transition: 1.5s;
}
.card__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  /* padding: 1vh 5vw; */
  /* margin: 1vh 0; */
}
.card__img {
  width: 22px;
  height: 22px;
  padding-right: 5vw;
}
.card__money {
  font-weight: bold;
}
.card__a {
  color: #036672;
  text-decoration: none;
  background-color: #fbfdfe;
  padding: 1vh 5vw;
}
@media (min-width: 500px) {
  .overview {
  }
  .overview__block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    /* padding: 1vh 2vw; */
    margin: 0px 1vw 1vh 1vw;
    /* width: 140px; */
  }
  .card__div {
    /* justify-content: space-around; */
  }
  .card__img {
    padding-right: 3vw;
  }
}
@media (min-width: 768px) {
  .overview {
    /* font-size: 1rem; */
  }
  .card {
    /* margin: 0px 0 1vh 0; */
    width: 180px;
  }
  .card__img {
    padding-right: 1vw;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
}
@media (min-width: 1024px) {
  .overview {
    font-size: 1rem;
  }
  .card {
    margin: unset;
    width: 33%;
  }
  .card:nth-child(2) {
    margin: 0 2vw 0 2vw;
  }
  .card__a {
    padding: 1vh 2vw;
  }
  .overview__block {
  }
}
