.container {
  display: flex;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transform: scale(0.7);
}

/* HAMBURGER */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #036672;
  transform: translateX(-100%);
  transition: 0.5s;
}
.menu--is-active {
  transform: translateX(0%);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.label {
  padding-top: 2vh;
}
.label__img {
  transform: translateY(20%);
}
.label__input {
  border: none;
  /* padding: 5px 20px; */
  font-size: 1rem;
}
.main__buttons {
  align-self: flex-end;
  margin-right: 3vw;
}
.main__button {
  padding: 5px 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}
.add-money {
  margin-right: 3vw;
  background-color: white;
  border-color: grey;
}
.send-money {
  background-color: #036672;
  color: white;
  border-color: #036672;
}
