.container {
  display: flex;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  transform: scale(0.7);
}

/* HAMBURGER */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #036672;
  transform: translateX(-100%);
  transition: 0.5s;
  z-index: 1;
}
.menu--is-active {
  transform: translateX(0%);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
  width: 100%;
  margin: 0 auto;
}

.active-page {
  background-color: #f1f5f9;
  width: 100%;
}
@media (min-width: 500px) {
  .container {
  }
  /* .mobile-menu {
    display: none;
    height: auto;
  } */
  .menu {
    /* position: unset; */
    /* top: unset; */
    /* left: unset; */
    width: 35vw;
    /* height: unset; */
    /* transform: unset; */
  }
}
@media (min-width: 768px) {
  .container {
  }
  .mobile-menu {
    display: none;
    height: auto;
  }
  .menu {
    position: unset;
    top: unset;
    left: unset;
    /* width: 35vw; */
    max-width: 180px;
    height: unset;
    transform: unset;
    min-height: 100vh;
  }
  .main {
    justify-content: unset;
  }
  .label__input {
    font-size: 1.1rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .menu {
    /* width: 220px; */
  }
}
@media (min-width: 1024px) {
  .menu {
    max-width: 300px;
  }
  .main {
    width: 100%;
    max-width: 1700px;
  }
  .app-section {
    width: 100%;
  }
  .active-page {
    width: 100%;
  }
}
