<div class="container">
  <div class="mobile-menu">
    <div class="hamburger hamburger--arrow" (click)="hamburgerActive() " [ngClass]="status ? 'is-active' : ''">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </div>
  <app-menu (eventA)="selected($event)" class="menu" [ngClass]="status ? 'menu--is-active' : ''"></app-menu>
  <div class="main">
    <app-person class="app-section"></app-person>
    <div class="active-page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <app-recent-activity></app-recent-activity> -->
