<div class="container">
  <!-- tutaj poniżej dodać klase is-active -->
  <div class="mobile-menu">
    <div class="hamburger hamburger--arrow" (click)="hamburgerActive() " [ngClass]="status ? 'is-active' : ''">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </div>
  <app-menu (eventA)="selected($event)" class="menu" [ngClass]="status ? 'menu--is-active' : ''"></app-menu>
  <div class="main"><label class="main__label label" for=""><img class="label__img" src="../assets/images/search.png"
        alt=""><input class="label__input" placeholder="Search transaction"></label>
    <app-person></app-person>
    <div class="main__buttons">
      <button class="main__button add-money">Add money</button>
      <button class="main__button send-money">Send money</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-recent-activity></app-recent-activity> -->
