:host {
  width: 100%;
}
.reports {
  width: 90%;
  margin: 5vh auto;
}
.reports__div {
  padding: 2vh 1vw;
  background-color: white;
  margin: 5vh 0;
}
.reports__h1 {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.reports__canvas-days,
.reports__canvas-months,
.reports__canvas-quarters,
.reports__canvas-years {
  max-height: 500px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0 2vh 0;
}
.reports__canvas-months,
.reports__canvas-quarters,
.reports__canvas-years {
  max-height: 350px;
  max-width: 700px;
}
@media (min-width: 768px) {
  .reports__h1 {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .reports__h1 {
    font-size: 1.1rem;
  }
}
