:host {
  width: 100%;
}
.week-chart__h2 {
  font-size: 1rem;
  text-align: center;
}
.week-chart__canvas {
  margin: 0 auto;
}
@media (min-width: 640px) {
  :host {
    /* width: 90%; */
  }
}
@media (min-width: 1024px) {
  .week-chart__canvas {
    max-width: 900px;
  }
}
