.app-person {
  margin-bottom: 1vh;
}
.app-personality {
  display: flex;
  padding-top: 5vh;
  align-items: center;
  justify-content: center;
}
.face {
  width: 52px;
  height: 52px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 2vw;
}
.person {
}
.name {
  font-weight: bold;
}
.person__i {
  transform: translateY(5px);
}
.main__buttons {
  text-align: right;
}
.main__button {
  padding: 5px 10px;
  /* border-radius: 5px; */
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}
.add-money {
  margin-right: 3vw;
  background-color: white;
  border-color: rgb(221, 221, 221);
}
.add-money:hover {
  color: white;
  background-color: #036672;
  border-color: #036672;
  outline: 1px solid #036672;
}
.send-money {
  background-color: #036672;
  color: white;
  border-color: #036672;
}
@media (min-width: 1024px) {
  .app-person {
    display: flex;
    justify-content: space-around;
  }
  .main__buttons {
    align-self: center;
  }
  .add-money {
    margin-right: 1vw;
  }
}
