<div class="app-person">
  <div class="app-personality">
    <img class="face" src="assets/images/joseph-gonzalez_50x50.jpg" alt="">
    <div class="person">
      <p class="name">Good Morning, {{person.name}} {{person.surname}}</p>

      <p class="street"><i class='material-icons person__i'>house</i> {{person.street}}</p>
    </div>
  </div>
  <div class="main__buttons">
    <button class="main__button add-money">Add money</button>
    <button class="main__button send-money">Send money</button>
  </div>
</div>
