.app-person {
  display: flex;
  padding-top: 1vh;
  align-items: center;
  justify-content: center;
}
.face {
  width: 52px;
  height: 52px;
  display: inline-block;
  border-radius: 50%;
  padding-right: 2vw;
}
.person {
}
.name {
  font-weight: bold;
}
