<div class="privacy">
  <div class="privacy__div">
    <h1 class="privacy__h1">Privacy and confidentiality</h1>
    <p class="privacy__p">Banks have to protect your personal and banking-related information, but there are situations
      in which it can release this information.</p>
    <div class="privacy__div-img"><img class="privacy__img" src="assets/images/active-page/privacy/privacy.jpg" alt="">
    </div>
    <p class="privacy__p">Banks have a legal duty to protect the confidentiality of existing and former customers. Banks
      also have
      obligations
      under the Privacy Act 1993, which contains 12 privacy principles about personal information. In the banking
      sector,
      these principles govern:</p>
    <ul class="privacy__ul">
      <li class="privacy__li">banks’ collection and storage of customer information</li>
      <li class="privacy__li">customers’ rights to access and correct information about themselves</li>
      <li class="privacy__li">the disclosure of personal information.</li>
    </ul>
    <p>We can consider complaints about breaches of privacy and duty of confidence. Sometimes we refer a privacy
      complaint
      to the Office of the Privacy Commissioner if we consider it would be better dealt with by that office. An example
      would be if a customer sought compensation that exceeded our limit. </p>
  </div>
  <div class="privacy__div">
    <h1 class="privacy__h2">Disclosing confidential information</h1>
    <p class="privacy__p">There are four broad situations in which a bank can lawfully disclose confidential
      information:</p>
    <ul class="privacy__ul">
      <li class="privacy__li">When the law compels it to: Banks sometimes have to give evidence about a customer’s
        affairs in court. Banks
        can
        also be required to give information to the Inland Revenue Department (under the Tax Administration Act 1994),
        to
        the Ministry of Social Development (under the Social Security Act 1964) and to a company liquidator (under the
        Companies Act 1993). Banks are also required to report suspicious transactions to Police (under the Financial
        Transactions Reporting Act 1996 and Anti-Money Laundering and Countering Financing of Terrorism Act 2009). </li>
      <li class="privacy__li">When it has a public duty to: This applies when there is a danger to the state or when the
        wider public needs
        protection against crime. A bank needs to balance the public interest with respecting a customer’s right to
        privacy when it considers providing information about that person to a third party.</li>
      <li class="privacy__li">When a bank must disclose information to protect its interests: This applies when a bank
        takes legal action
        against a customer (such as to recover a debt), or defends an action from a customer and needs to provide
        information about the customer’s affairs.</li>
      <li class="privacy__li">When a customer agrees: A bank can disclose customer information if the customer agrees. A
        bank must ensure
        the
        information is correct and within the scope of the customer’s consent. A customer may, for example, agree to the
        bank’s disclosure of information about one account only. If the bank releases information about other accounts,
        it
        has breached its duty of confidence.</li>
    </ul>
  </div>
</div>
