.balances {
  width: 90%;
  margin: 5vh auto;
  padding-bottom: 1vh;
  background-color: white;
}
.balances__charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh auto;
  background-color: white;
}
